
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
{#     <link rel="icon" href="../../../../favicon.ico">#}
     <title>Dashboard Template for Bootstrap</title>
   <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <!-- Bootstrap core CSS -->
{#    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
{#    <link href="dashboard.css" rel="stylesheet">#}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow " >
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style=" font-size:35px" >猪场监控</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">User_name</a>
        </li>

      </ul>
     <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  主页 <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>环境监测</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  温度
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  湿度
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  CO2
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  光照
                </a>
              </li>

               <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                 NH3
                </a>
              </li>

                <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                 PM10
                </a>
              </li>

                <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                    H2S
                </a>
              </li>

            </ul>
             <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>环境控制</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
              <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  加热
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  通风
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  降温
                </a>
              </li>

            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">环境总览</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
            <div style="width: 1000px;height:250px;">
                    <div  id="pic1" style="width: 250px;height:250px;float:left"></div>
                    <div  id="pic2" style="width: 250px;height:250px;float:left"></div>
                    <div  id="pic3" style="width: 250px;height:250px;float:left"></div>
                    <div  id="pic4" style="width: 250px;height:250px;float:left"></div>
            </div>
            <div style="width: 1000px;height:190px;">
                    <div  id="pic5" style="width: 250px;height:250px;float:left"></div>
                    <div  id="pic6" style="width: 250px;height:250px;float:left"></div>
                    <div  id="pic7" style="width: 250px;height:250px;float:left"></div>
                    <div style="width: 250px;height:250px;float:left;margin:0 auto;">
                        <img class="logo" src="{{ url_for('static',filename='images/plus.png') }}">
                    </div>
            </div>
{#          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>#}

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>#}
{#    <script src="../../assets/js/vendor/popper.min.js"></script>#}
{#    <script src="../../dist/js/bootstrap.min.js"></script>#}

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>#}
{#    <script>#}
{#      var ctx = document.getElementById("myChart");#}
{#      var myChart = new Chart(ctx, {#}
{#        type: 'line',#}
{#        data: {#}
{#          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],#}
{#          datasets: [{#}
{#            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],#}
{#            lineTension: 0,#}
{#            backgroundColor: 'transparent',#}
{#            borderColor: '#007bff',#}
{#            borderWidth: 4,#}
{#            pointBackgroundColor: '#007bff'#}
{#          }]#}
{#        },#}
{#        options: {#}
{#          scales: {#}
{#            yAxes: [{#}
{#              ticks: {#}
{#                beginAtZero: false#}
{#              }#}
{#            }]#}
{#          },#}
{#          legend: {#}
{#            display: false,#}
{#          }#}
{#        }#}
{#      });#}
{#    </script>#}
<script type="text/javascript">

    var mypic1 = echarts.init(document.getElementById('pic1'));
    var mypic2 = echarts.init(document.getElementById('pic2'));
    var mypic3 = echarts.init(document.getElementById('pic3'));
    var mypic4 = echarts.init(document.getElementById('pic4'));
    var mypic5 = echarts.init(document.getElementById('pic5'));
    var mypic6 = echarts.init(document.getElementById('pic6'));
    var mypic7 = echarts.init(document.getElementById('pic7'));


    var option_pic1= {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%",
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {},
        },

    },

    series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            max:50,
            detail: {formatter:'{value}%'},
            data: [{value: 50, name: '温度',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10,
                show: false,
            },
            axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                color: [[0.2, 'blue'], [0.8, 'green'], [1, 'red']]
                        }
                    }



        }
    ]
};
    mypic1.setOption(option_pic1);

    var option_pic2 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value: 50, name: '温度',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic2.setOption(option_pic2);

    var option_pic3 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value:50, name: '温度',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic3.setOption(option_pic3);

    var option_pic4= {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value:50, name: '温度',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic4.setOption(option_pic4);

    var option_pic5 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value:50, name: 'CO2',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic5.setOption(option_pic5);

    var option_pic6 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value:50, name: 'NH3',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic6.setOption(option_pic6);

    var option_pic7 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
        series: [
        {
            name: '业务指标',
            type: 'gauge',
            splitNumber:5,
            detail: {formatter:'{value}%'},
            data: [{value:50, name: 'H2S',}],
            title : {
                {#fontWeight: 'bolder',#}
                fontSize: 20,
                offsetCenter: [0, '-120%'],
                {#fontStyle: 'italic'#}
            },
            detail:{fontSize:20},
            axisLabel:{fontSize:10}

        }
    ]
};
    mypic7.setOption(option_pic7);

{#    setInterval(function () {#}
{#    option_pic1.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic2.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic3.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic4.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic5.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic6.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    option_pic7.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;#}
{#    mypic1.setOption(option_pic1);#}
{#    mypic2.setOption(option_pic2);#}
{#    mypic3.setOption(option_pic3);#}
{#    mypic4.setOption(option_pic4);#}
{#    mypic5.setOption(option_pic5);#}
{#    mypic6.setOption(option_pic6);#}
{#    mypic7.setOption(option_pic7);#}
{#},2000);#}

</script>

  </body>
</html>
