{% extends "base.html" %}
{% block title %}登陆{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/regist.css') }}"  >
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <meta http-equiv="refresh" content="3">
{#    设置刷新刷屏幕#}
{% endblock %}


{% block main %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main2" style="width: 300px;height:300px;margin: 0 auto;"></div>
<div id="main3" style="width: 900px;height:500px;margin: 0 auto;"></div>

<script type="text/javascript">

    var myChart2 = echarts.init(document.getElementById('main2'));
    var myChart3 = echarts.init(document.getElementById('main3'));

    var   option2 = {
                title : {
                    text: '猪场温湿度监控系统',
                },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['温度','湿度']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: false,title : '还原'},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    {#data : {{ time }}#}
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    name:"温度",
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                },
                {
                    type : 'value',
                    name:"湿度",
                    axisLabel : {
                        formatter: '{value}%'
                    }
                }
            ],
            series : [
                {
                    name:'温度',
                    yAxisIndex: 1,
                    type:'line',
                    data:{{ humi }},
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name:'湿度',
                    type:'line',
                    data:{{ temp }},
                    markPoint : {
                        data : [
                            {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
    myChart2.setOption(option2);

    var option3 = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        feature: {
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '业务指标',
            type: 'gauge',
            detail: {formatter:'{value}%'},
            data: [{value: {{ humi[0] }}, name: '完成率'}]
        }
    ]
};

setInterval(function () {
    option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
    myChart.setOption(option, true);
},2000);;
    myChart3.setOption(option3);

</script>







{% endblock %}


